body {
font-family: 'Open Sans', sans-serif;
        font-size: 100%;
background: #f1f1f1;
color: Black;
margin: 0;
padding: 0;
}

#container {
background-color: #ffffff;
color: #000000;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 6%;
margin-right: 6%;
padding: 0;

}

#innercontainer {
background-color: #ffffff;
color: #000000;
margin-left: +6%;
margin-right:+6%;
padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    color: black;
    font-weight: normal;
    margin: 0;
    padding-top: .17em;
    padding-bottom: .17em;
    border-bottom: 1px solid #aaa;
}

h1 {font-size: 188%;
   border-bottom: 1px solid #aaa;
   margin-left: -2%;
   margin-top: .27em;
   margin-bottom: .57em;
    font-weight: bold;
}

h2 { font-size: 150%; margin-left: -2%; }

h3 {
    display: inline;
    border-bottom: none;
    padding-top: .02em;
    padding-bottom: .02em;
    padding-left: .13em;
    padding-right: .13em;
    margin-left: -2%;
}

h4, h5, h6 {
    display: inline;
    border-bottom: none;
    padding-top: .02em;
    padding-bottom: .02em;
    padding-left: .13em;
    padding-right: .13em;
    /*background: #ece7de;*/
    margin-left: 1%;
    font-weight: bold;
}


h3 { font-size: 132%; }
h4 { font-size: 100%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

p {margin-top: 0.75em;line-height: 1.5em;}



