/* Comment: Ari Rantalan tyylit mm.
   - kurssikuvausdokumentteja
   - oppaita
   varten    */


body {
font-family: 'Open Sans', sans-serif;
        font-size: 100%;
background: #f1f1f1;
color: Black;
margin: 0;
padding: 0;
}

#container {
background-color: #ffffff;
color: #000000;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 6%;
margin-right: 6%;
padding: 0;

}

#innercontainer {
background-color: #ffffff;
color: #000000;
margin-left: +6%;
margin-right:+6%;
padding: 0;
}


table, tr, td {
margin-left: 0.0em;
}

blockquote
{
padding-left: 0.5em;
margin-left: 0;
border-left: 4px solid;
color: #76797c;
}


code 
{
font-family: "Courier New",Courier,monospace;
font-size: 120%;

color: Black;
background-color: #f1f1f1;
padding: 0 0.1em;
}

pre
{
font-family: Monaco,"Courier New",Courier,monospace;
font-size: 100%;
padding: 1em;
border: 1px dashed #2f6fab;
color: black;
background-color: #f2f2f2;
overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    color: black;
    background: #ffffff none;
    /*background: #e4ebef none;*/
    font-weight: normal;
    margin: 0;
    padding-top: .17em;
    padding-bottom: .17em;
    border-bottom: 1px solid #aaa;
}

h1 {font-size: 188%;
    background: #e2eff0 none;
   /*background:#f9f7ed none;*/
   /*background: #eef3f5 none; */
   /*Oli: #e4ebef*/
   border-top: 1px solid #aaa;
   border-bottom: 1px solid #aaa;
   margin-left: -2%;
   margin-top: .27em;
   margin-bottom: .57em;
}

h2 { font-size: 150%; margin-left: -2%; }

h3 {
    display: inline;
    border-bottom: none;
    padding-top: .02em;
    padding-bottom: .02em;
    padding-left: .13em;
    padding-right: .13em;
    background: #e7e1c3;
    background: #e2eff0;
    /*background: #ece7de;*/
    margin-left: -2%;
}

h4, h5, h6 {
    display: inline;
    border-bottom: none;
    padding-top: .02em;
    padding-bottom: .02em;
    padding-left: .13em;
    padding-right: .13em;
    /*background: #ece7de;*/
    margin-left: 1%;
}


h3 { font-size: 132%; }
h4 { font-size: 100%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

p {margin-top: 0.75em;line-height: 1.5em;}

.omaots
{
font-size: 100%;
color: black;
background: #ffeedd none;
margin-top: 0.0em;
margin-bottom: 0.5em;
}

.intro
{
font-size : 90%;
margin-left : 3em;
margin-right: 1em;
border : solid black 0.06em;
padding : 0.6ex;
background: #ffffcc none;
}

.codebox
{
margin: 5px 5px;
padding: 10px;
background-color: #FFFAF0;
border:1px dashed #d6cfb5;
overflow: auto;
}



.tablecell
{
font-size : 100%;
margin-left : 1em;
margin-right: 1em;
margin-top : 1em;
border : solid black 0.02em;
padding : 0.6ex;
background: #ffffff;
}

ul
{
line-height: 1.3em;
margin: 0.1em 0 0.7em 1.5em;
padding: 0;
list-style-image: url(http://netisto.fi/bullet.gif);
list-style-type: square;
}

ol
{
line-height: 1.5em;
margin: 0.5em 0 0 2.5em;
padding: 0;
list-style-image: none;
}

li {margin-bottom: 0.2em;}
dt {font-weight: bold;}
dd {line-height: 1.5em;margin-bottom: 1em;}


a:link
{
color: #0000ff;
background: transparent;
}

a:visited
{
color: #660099;
background: transparent ;
}

a:hover
{
color : #ee2222;
background : #dddddd;
text-decoration: none;
}

a:active
{
color : #ff0000;
background : transparent;
}




.tooltip {outline:none; } .tooltip strong {line-height:30px;} .tooltip:hover {text-decoration:none;} 
.tooltip span { z-index:10;display:none; padding:10px 10px; margin-top:0px; margin-left:-400px; width:400px; }
.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#ffffcc;} 
.callout {z-index:20;position:absolute;top:30px;border:0;right:-12px;} /*CSS3 extras*/ 
.tooltip span { border-radius:4px; box-shadow: 5px 5px 8px #CCC; }


 /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.popup:hover {
color : #ee2222;
background : #dddddd;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: #ffc;
    color: #000;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    margin-left: -400px;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

